<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/nav.css">
    <title>Youtube</title>
</head>

<body>

    <%- include('./components/navbar.ejs') %>

        <section class="categories">

            <% catgeries .map(x=>{ %>

                <a href="">
                    <%= x.title %>
                    <img src=<%=x.iconUrl%> alt="">
                </a>

                <% }) %>


                    <div class="videos">
                        <% videos .map(x=>{ %>

                            <div class="content">
                                <img src=<%=x.images %> alt="">
                                <h3>
                                    <%= x.title %>
                                </h3>
                                <p>
                                    <%= x.channel %>
                                </p>
                            </div>
                            <% }) %>
                    </div>
        </section>
</body>

</html>